package dsiter.row;

${Disclaimer}

public enum ColumnType {
<% ColumnTypes.eachWithIndex { type, index ->
    print "\t" + type.type
    if( index < ColumnTypes.size()-1 ) {
        println ","
    }
    else {
        print ";"
    }
} %>

    public boolean isNumeric() {
        return this == INT || this == LONG || this == FLOAT || this == DOUBLE;
    }
}
