package dsiter.row;

${Disclaimer}

public interface ConstantAccessor {

	<% ColumnTypes.each { type -> %>
	static IRowAccessor getInstance(${type.nativeType} value) {
		return new IRowAccessor.${type.type}() {
			@Override
			public ${type.nativeType} get${type.capitalized}FromRow(Row row) {
				return value;
			}
		};
	}
	<% } %>
}
