package dsiter.row;

${Disclaimer}

public class Row {
<% ColumnTypes.each { type -> %>
	public ${type.nativeType}[] ${type.rowArray};<% } %>

	public Row() { }

<% ColumnTypes.each { type -> %>
	public Row(${type.nativeType}... vals) { this.${type.rowArray} = vals.clone(); }<% } %>

	public Row(RowShape shape) {
<% ColumnTypes.each { type -> %>
		if(shape.getNum${type.capitalized}s() > 0) {
			${type.rowArray} = new ${type.nativeType}[shape.getNum${type.capitalized}s()];
		}<% } %>
	}

}